/* You can add global styles to this file, and also import other style files */

/* The below style rules apply when the user is having data entered for the username and email*/
input.ng-invalid.ng-dirty {
  border-bottom-color: #e91e63 !important;
  box-shadow: #e91e63 !important;
}

/* The below rule sets width of the submit button */
button.btn-submit {
  width: 100%;
}

ul.answer li:hover {
  background-color: #26a69a;
  color: #eafaf9;
  cursor: pointer;
}

ul li.selected {
  background-color: #26a69a !important;
  color: #eafaf9 !important;
}
